.header {
    border-bottom: 3px solid $text;
    &__container {
        position: relative;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        padding-top: 39px;
        padding-bottom: 66.5px;
    }

    &__logo-wrapper {
        display: flex;
    }

    &__logo {
        width: 30px;
        height: 30px;
        background: $text;
        border-radius: 50%;
        margin-right: 13px;
    }

    &__logo-text {
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
    }

    &__block {
        display: flex;
    }

    &__list {
        display: flex;
        margin-top: 5px;
        margin-bottom: 6px;
        li {
            margin-right: 30px;
            &:last-child {
                margin-right: 0px;
            }
        }
        li a {
            font-weight: 900;
            font-size: 14px;
            line-height: 17px;
        }
    }
}
